h1{
    color:rgb(250, 176, 254)
}
p{
    color:rgb(5, 5, 5)
}
/**{ 
    border:solid
}*/
.header{
    background-color: blueviolet;
    display:flex;
    justify-content: space-between;
}
/*.site-description{
    display:flex;
    flex-direction: column;
    justify-content:first baseline;
}*/
.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    display:flex;
    justify-content: flex-end;
}
p,h2{
    text-align: center;
}
